services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trafyx-backend
    env_file:
      - ./.env
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - GIN_MODE=release
    restart: unless-stopped
    networks:
      - app-network

  # Nginx reverse proxy
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  # Certbot for SSL certificates
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    command: certonly --webroot -w /var/www/certbot --force-renewal --email tripathipranav14@gmail.com -d nuts.kyrexi.tech --agree-tos
    depends_on:
      - nginx

networks:
  app-network:
    driver: bridge
